<template>
    <div>    
        <header>
             <nav class="navbar">
                <div class="nav-wrapper" >
                    <a href="javascript:void(0);" class="bars" style="display: block;"></a>
                    <a href="javascript:void(0);" class="brand-logo m-l-35">Lava jato</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="pull-right">
                            <a href="javascript:void(0);" class="js-right-sidebar" data-close="true">
                                <i class="material-icons">more_vert</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav> 

            <!-- <nav class="navbar">
                <div class="nav-wrapper">
                    <div class="navbar-header">                            
                        <a href="javascript:void(0);" class="bars" style="display: block;"></a>
                        <a class="navbar-brand" href="index.html">ADMINBSB - MATERIAL DESIGN</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">   
                            <li class="pull-right">
                                <a href="javascript:void(0);" class="js-right-sidebar" data-close="true">
                                    <i class="material-icons">more_vert</i></a></li>
                        </ul>
                    </div>
                </div>
            </nav> -->

            <section>
                <aside id="leftsidebar" class="sidebar" style="margin-top: -7px">
        
                        <div class="user-info">
                            <div class="image">
                                <img  width="48" height="48" alt="User"></img>
                            </div>
                            <div class="info-container">
                                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Boy Junin</div>
                                <div class="email">john.doe@example.com</div>
                            </div>
                        </div>
                
                        <div class="menu">
                                <div class="slimScrollDiv" >
                                    <ul class="list" style="width: auto; margin: 0" >
                                    <li class="header">MAIN NAVIGATION</li>
                    
                                    <li>
                                        <router-link class="waves-effect waves-block" :to="{name: 'admin.dashboard'}">
                                                <i class="material-icons">home</i>
                                                <span> Home </span>
                                        </router-link>   
                                    </li> 

                                    <li>
                                        <router-link class="waves-effect waves-block" :to="{name: 'admin.veiculo.list'}">
                                                <i class="material-icons">home</i>
                                                <span> Veiculo </span>
                                        </router-link>   
                                    </li> 

                                    <li>
                                        <router-link class="waves-effect waves-block" :to="{name: 'admin.lavajato'}">
                                                <i class="material-icons">home</i>
                                                <span> Lavajato </span>
                                        </router-link>   
                                    </li> 

                                    <li>
                                        <router-link class="waves-effect waves-block" :to="{name: 'admin.servico.list'}">
                                                <i class="material-icons">home</i>
                                                <span> Serviço </span>
                                        </router-link>   
                                    </li>
                                    
                                    <li>
                                        <router-link class="waves-effect waves-block" :to="{name: 'admin.funcionario.list'}">
                                                <i class="material-icons">home</i>
                                                <span> Funcionario </span>
                                        </router-link>   
                                    </li> 
                                    
                                    </ul>
                                </div>
                            </div> 
                
                        <div class="legal">
                            <div class="copyright">
                                © 2019 <a href="#link">Lava Jato</a>.
                            </div>
                            <div class="version">
                                <b>Version: </b> 1.0.0
                            </div>
                        </div>
                    </aside>

                <ThemeColor></ThemeColor>

                </section>
        </header>

        <Content>
            <router-view></router-view>
        </Content>
        
    </div>
</template>

<script>
import Content from './layouts/ContentComponent'
import ThemeColor from './layouts/ThemeColorComponent'

//import 'materialize-css/dist/css/materialize.min.css';
import * as M from 'materialize-css'

export default {
   components: {
        Content,
        ThemeColor
  } ,
  mounted() {
    M.AutoInit();
  },
}
</script>

<style scoped>
    
</style>