<template>
    <div class="login-page ls-closed" v-if="isAuth">
        <div class="login-box">
                <div class="logo" >
                    <a href="javascript:void(0);">Lava<b>Jato</b></a>
                    <small>Sistema de gerencimento</small>
                </div>
                <div class="card">
                    <div class="body">
                        <form id="sign_in" @submit.prevent="onLogin">
                            <div class="msg">Informe o usuario e senha</div>
                            <div>
                                <label><b style="color: black"> email</b></label>
                                <div class="form-group">
                                    <div class="form-line " >
                                        <input type="email" v-model="user.email" name="email" placeholder="" required="required" autofocus="autofocus" aria-required="true" class="form-control"></input>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <label><b style="color: black"> Senha</b></label>
                                <div class="form-group">
                                    <div class="form-line" >
                                        <input type="password" v-model="user.password" name="password" placeholder="" required="required" autofocus="autofocus" aria-required="true" class="form-control"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>

</template>

<script>
export default {
    data() {
        return {
            user:{
                email: '',
                password: '',
            }
        }
    },
    created() {        
        this.$store.commit('PRELOADER', true);
    },
    methods: {
        onLogin(){
          this.$store.dispatch('login', this.user)
            .then(()=>{
                this.$router.push({name: 'admin.dashboard'});
            }).catch(()=>{
                this.$toasted.error(`Usuario ou senha estão incorretos.`, { icon : 'error_outline' })
            });
        }
    },
    computed: {
        isAuth(){                                                        
            return this.$store.state.login.isVisibleLogin || !localStorage.getItem('TOKEN_AUTH')
        }, 
    },
}
</script>



<style scoped>
    .login-page {
        background-color: #e9e9e9;         
    }
    .form-line input{
        margin: 0px !important;
        height: 2rem;
    }
    .logo a, small{
        color: black !important;
    }

</style>