<template>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header" style="display: flex; align-items: center; justify-content: space-between" >
                    <h2>{{name_page}}</h2>
                    <div class="align-right">  
                        <router-link class="btn btn-primary waves-effect" :to="{name: route_form}"> Cadastro </router-link>
                    </div>
                </div>
                
                <div  class="body"> 
                    <vTable 
                    :collection="collection"
                    :jsonTable="jsonTable"
                    @loadData="loadData"                     
                    @onEdit="onEdit"
                    @onDestroy="confirmDestroy">
                    </vTable>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import DataTableComponent from '../../partials/DataTableComponent';

import axios from 'axios';

export default {
    components:{
        vTable: DataTableComponent 
    },
    data() {
        return {            
            name_page : 'Serviço',
            route_edit : 'admin.servico.edit',
            route_form : 'admin.servico.form',
            dispatch_list: 'loadServico',
            dispatch_delete: 'destroyServico',

            jsonTable:{
                nome: 'Nome',
                tipo: 'Tipo',
                valor: 'Valor',
            },
            params:{}
        }
    },
    created() {
        this.loadData(1)
    },
    computed: {
        collection(){                                   
            return this.$store.state.servico.items.data;
        }, 
    },
    methods: {
        loadData(params){  
            this.params = params      
            this.$store.dispatch(this.dispatch_list, params ).catch( err =>{
                //console.log('ok', err.response );
            });
        },
        confirmDestroy( id ){
            this.$toasted.clear();
            this.$toasted.show(`Deseja reamente remover esse ${this.name_page}? <br>`, {
                    duration : null,
                    closeOnSwipe: false,
                    action : [
                        {
                            text : 'Sim',
                            onClick : (e, toastObject) => {
                                this.destroyData(id)
                                toastObject.goAway(0);
                            }
                        },
                        {
                            text : 'Não',
                            onClick : (e, toastObject) => {
                                toastObject.goAway(0);
                            }
                        }
                    ]
            })
        },
        destroyData( id ){
            
            this.$store.dispatch(this.dispatch_delete, id)
                .then( () => {                                        
                    this.$toasted.success(`Sucesso ao deleter o ${this.name_page}.`, { icon : 'check_circle' });
                    this.loadData(this.params);                   
                })                
                .catch(err => {
                    this.$toasted.error(`Erro ao deletar o ${this.name_page}.`, { icon : 'error_outline' })
                    this.$store.commit('PRELOADER', false);
                });

        },
        onEdit(id){            
            this.$router.push({name: this.route_edit, params: { id : id } }) ;
        }
    },
}
</script>
