<template>
    <section class="content">
        <div class="container-fluid m-t--20">
            <slot></slot>
        </div>
    </section>            
</template>

<script>
export default {
    
}
</script>