<template>
        <nav class="navbar">
                <div class="nav-wrapper" >
                    <a href="#link" class="brand-logo m-l-35">Purchase List</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="pull-right">
                            <a href="#link" class="js-right-sidebar" data-close="true">
                                <i class="material-icons">more_vert</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
</template>

<script>
export default {
    
}
</script>