<template>
    
        <aside id="rightsidebar" class="right-sidebar" style="margin-top: -7px; overflow: auto">
                <b style="display: block;  margin-top: 6px; margin-bottom: -10px; padding: 5px;"><center>Theme</center></b>
                <div class="slimScrollDiv" >
                    <ul class="demo-choose-skin" >
                    <li data-theme="red">
                        <div class="red"></div>
                        <span>Red</span>
                    </li>
                    <li data-theme="pink">
                        <div class="pink"></div>
                        <span>Pink</span>
                    </li>
                    <li data-theme="purple" class="">
                        <div class="purple"></div>
                        <span>Purple</span>
                    </li>
                    <li data-theme="deep-purple" class="">
                        <div class="deep-purple"></div>
                        <span>Deep Purple</span>
                    </li>
                    <li data-theme="indigo" class="">
                        <div class="indigo"></div>
                        <span>Indigo</span>
                    </li>
                    <li data-theme="blue" class="">
                        <div class="blue"></div>
                        <span>Blue</span>
                    </li>
                    <li data-theme="light-blue">
                        <div class="light-blue"></div>
                        <span>Light Blue</span>
                    </li>
                    <li data-theme="cyan">
                        <div class="cyan"></div>
                        <span>Cyan</span>
                    </li>
                    <li data-theme="teal">
                        <div class="teal"></div>
                        <span>Teal</span>
                    </li>
                    <li data-theme="green">
                        <div class="green"></div>
                        <span>Green</span>
                    </li>
                    <li data-theme="light-green">
                        <div class="light-green"></div>
                        <span>Light Green</span>
                    </li>
                    <li data-theme="lime">
                        <div class="lime"></div>
                        <span>Lime</span>
                    </li>
                    <li data-theme="yellow">
                        <div class="yellow"></div>
                        <span>Yellow</span>
                    </li>
                    <li data-theme="amber">
                        <div class="amber"></div>
                        <span>Amber</span>
                    </li>
                    <li data-theme="orange">
                        <div class="orange"></div>
                        <span>Orange</span>
                    </li>
                    <li data-theme="deep-orange">
                        <div class="deep-orange"></div>
                        <span>Deep Orange</span>
                    </li>
                    <li data-theme="brown">
                        <div class="brown"></div>
                        <span>Brown</span>
                    </li>
                    <li data-theme="grey">
                        <div class="grey"></div>
                        <span>Grey</span>
                    </li>
                    <li data-theme="blue-grey">
                        <div class="blue-grey"></div>
                        <span>Blue Grey</span>
                    </li>
                    <li data-theme="black">
                        <div class="black"></div>
                        <span>Black</span>
                    </li>
                </ul> 
            </div>
    </aside>   
    
</template>

<script>
export default {
    mounted() {
        this.loadTheme();
    },
    methods: {
        loadTheme(){

        if(localStorage.getItem('theme'))
            $('body').addClass( localStorage.getItem('theme') );
        
            
        $('.right-sidebar .demo-choose-skin li').on('click', function () {
            console.log('ok')
            var _body = $('body');
            var _this = $(this);
            
            $('.right-sidebar .demo-choose-skin li').removeClass('active');
            _body.removeClass();
            _this.addClass('active');

            _body.addClass('theme-' + _this.data('theme'));
            console.log('theme', _this.data('theme'))

            localStorage.setItem('theme', 'theme-' + _this.data('theme'), localStorage.getItem('theme') )

            setTimeout(() => {
                $('body').addClass( localStorage.getItem('theme') );
            }, 50);

        });

        var _sidebar = $('#rightsidebar');
        var _overlay = $('.overlay');

        //Close sidebar
        $(window).click(function (e) {
            var $target = $(e.target);
            if (e.target.nodeName.toLowerCase() === 'i') { $target = $(e.target).parent(); }

            if (!$target.hasClass('js-right-sidebar') && $('.right-sidebar').hasClass('open') && $target.parents('#rightsidebar').length === 0) {
                if (!$target.hasClass('bars')) _overlay.fadeOut();
                _sidebar.removeClass('open');
            }
        });

        $('.js-right-sidebar').on('click', function () {            
            _sidebar.toggleClass('open');
            if ( $('.right-sidebar').hasClass('open') ) { _overlay.fadeIn(); } else { _overlay.fadeOut(); }
        });

        }
    },
}
</script>