<template>
    <div class="row">        
        <vInfobox class="col s3"
        icon="local_car_wash" text="Bruno" value="10" color="bg-red"></vInfobox>

        <vInfobox class="col s3"
        icon="local_car_wash" text="Maisson" value="200" color="bg-blue" onclick=""></vInfobox>

        <vInfobox class="col s3"
        icon="local_car_wash" text="Wanderson" value="200" color="bg-black" onclick=""></vInfobox>

    </div>
</template>

<script>
import InfoboxComponent from '../../partials/InfoboxComponent';

export default {
    components: {
        vInfobox : InfoboxComponent
    },
}
</script>