<template>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header" style="display: flex; align-items: center; justify-content: space-between" >
                    <h2>{{name_page}}</h2>                    
                </div>
                
                <div class="body">
                    <form @submit.prevent="submitForm">
                        <div class="row" style="margin-bottom: 0px">

                            <vDivIpunt name="nome" label="Nome do funcionario" :errors="errors" class="col s3">
                                <input v-model="record.nome" type="text" class="form-control" placeholder="Informe a placa">
                            </vDivIpunt>
                                                
                        </div>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">
                            {{ id ? 'Editar' : 'Gravar' }}
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

import DivInputComponent from '../../partials/DivInputComponent';

export default {
    props:{
        id: undefined
    },
    components: {
        vDivIpunt : DivInputComponent
    },
    data(){
        return {               
            name_page : 'Funcionario',
            route_list : 'admin.funcionario.list',   
            dispatch_store: 'storeFuncionario',
            dispatch_edit: 'updateFuncionario',
            dispatch_one: 'loadOneFuncionario',
            
            record:{                                             
                nome: undefined              
            },
            errors:{}
        }
    },
    created() {
        if(this.id)
            this.loadDataOne();
    },
    methods: {
        submitForm(){           
            
            let action = ( this.id ) ? this.dispatch_edit : this.dispatch_store;           
            let label = ( this.id ) ? 'EDITAR' : 'SALVAR';           
            
            this.$store.dispatch(action, this.record)
                .then( () => {
                    
                    this.$router.push({name: this.route_list}) ;
                    this.$toasted.success(`Sucesso ao ${label}`, { icon : 'check_circle' })
                    
                })                
                .catch(err => this.errors = err );

        },
        loadDataOne(){            
            this.$store.dispatch(this.dispatch_one, this.id)
                .then( res => this.record = res )
                .catch(err => {                                       
                        this.$toasted.error(`Erro 404! ${this.name_page} não encontrado.`, { icon : 'error_outline' })
                        this.$router.push({name: this.route_list}) ;
                });                
        }
    },
}
</script>

