<template>
    <div class="row clearfix">
        <div class="col s4" >
            <div class="card">
                <div class="header" style="display: flex;
                justify-content: space-between; padding: 10px 20px;
                align-items: baseline;"><h2>Pendente</h2>
                    <vAdd></vAdd>
                </div>
                <div class="body">
                        
                    <vCard v-for="(item, index) in collection.data.data" :key="index" :veiculo="item">
                    </vCard>
                    
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="header"><h2>Em andamento</h2></div>
                <div class="body"></div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="header"><h2>Concluido</h2></div>
                <div class="body"></div>
            </div>
        </div>
    </div>
</template>

<script>
import CardVeiculoComponent from './components/CardVeiculoComponent'
import AddVeiculoComponent from './components/AddVeiculoComponent'


export default {
    components: {
        vCard : CardVeiculoComponent,        
        vAdd: AddVeiculoComponent,
    },
    created() {
        this.$store.dispatch('loadVeiculo');
        this.$store.dispatch('loadFuncionario');
        this.$store.dispatch('loadServico');
    },
    computed: {
        collection(){                        
            return this.$store.state.veiculos.items;
        }
    },
}
</script>

<style scoped>


</style>