<template>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header" style="display: flex; align-items: center; justify-content: space-between" >
                    <h2>Veiculo</h2>                    
                </div>
                
                <div class="body">
                    <form @submit.prevent="submitForm">
                        <div class="row" style="margin-bottom: 0px">

                            <vDivIpunt name="placa" label="Placa do veiculo" :errors="errors" class="col s3">
                                <input v-model="veiculo.placa" type="text" class="form-control" placeholder="Informe a placa">
                            </vDivIpunt>

                            <vDivIpunt name="modelo" label="Modelo" :errors="errors" class="col s3">
                                <input v-model="veiculo.modelo" type="text" class="form-control" placeholder="Informe o modelo">
                            </vDivIpunt>

                            <vDivIpunt name="cor" label="Cor" :errors="errors" class="col s3">
                                <input v-model="veiculo.cor" type="text" class="form-control" placeholder="Informe o modelo">
                            </vDivIpunt>
                        
                            <vDivIpunt name="marca" label="Marca" :errors="errors" class="col s3">
                                <input v-model="veiculo.marca" type="text" class="form-control" placeholder="Informe o modelo">
                            </vDivIpunt>
                            

                        </div>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">
                            {{ id ? 'Editar' : 'Gravar' }}
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

import DivInputComponent from '../../partials/DivInputComponent';

export default {
    props:{
        id: undefined
    },
    components: {
        vDivIpunt : DivInputComponent
    },
    data(){
        return {                     
            veiculo:{                
                placa: undefined,
                cor: undefined,
                marca: undefined,
                modelo: undefined
            },
            errors:{}
        }
    },
    created() {
        if(this.id)
            this.loadDataOne();
    },
    methods: {
        submitForm(){           
            
            let action = ( this.id ) ? 'updateVeiculo' : 'storeVeiculo';           
            let label = ( this.id ) ? 'EDITAR' : 'SALVAR';           
            
            this.$store.dispatch(action, this.veiculo)
                .then( () => {
                    
                    this.$router.push({name: 'admin.veiculo.list'}) ;
                    this.$toasted.success(`Sucesso ao ${label}`, { icon : 'check_circle' })
                    
                })                
                .catch(err => this.errors = err );

        },
        loadDataOne(){
            this.$store.dispatch('loadOneVeiculo', this.id)
                .then( res => this.veiculo = res )
                .catch(err => {                                       
                        this.$toasted.error(`Erro 404! Veiculo não encontrado.`, { icon : 'error_outline' })
                        this.$router.push({name: 'admin.veiculo.list'}) ;
                });                
        }
    },
}
</script>

