<template>
    <div class="table-responsive">
            <search @searchData="onSearch" placeholder="Informe a placa do veiculo"></search>

            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                <thead>
                <tr>
                    <th v-for="(item, index) in jsonTable" :key="index">
                        {{ item }}
                    </th>                    
                    <th width="100px">ACTION</th>                
                </tr>
                </thead>
                <tbody>
                    <tr  v-for="(data, index) in collection.data" :key="index">                                            
                        <td v-for="(value, field) in data" v-if="jsonTable[field]" :key="field">{{value}}</td>                      
                        <td>
                            <div class="div_action">
                                <a class="btn btn-primary waves-effect" @click.prevent="onEdit(data.id)">
                                        <i class="material-icons">edit</i>
                                </a>

                                <a href="#" class="btn btn-danger waves-effect" @click.prevent="onDestroy(data.id)">
                                        <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>   

            <ul class="pagination">
                <li >
                    <a href="javascript:void(0);" class="waves-effect" :class="{action_disabled : collection.current_page == 1 }" @click.prevent="loadData(collection.current_page - 1)">
                        Anterior
                    </a>
                </li>
                
                <li v-if="collection.last_page > 1" v-for="(page, index) in pageNumber"  :key="index" :class="{active: page == collection.current_page}">
                    <a href="#" class="page-link" @click.prevent="loadData(page)">
                        {{ page }}
                    </a>
                </li>

                <li >
                    <a href="javascript:void(0);" class="waves-effect" :class="{action_disabled : collection.current_page >= collection.last_page}" @click.prevent="loadData(collection.current_page + 1)">
                        Proximo
                    </a>
                </li>
            </ul>
    </div>
</template>

<script>
import InputSearchComponent from './InputSearchComponent';

export default {    
    components:{
        search: InputSearchComponent 
    },
    data() {
        return {
            filter:''
        }
    },
    props:['jsonTable', 'collection'],
    computed: {
        pageNumber(){

            let { total, per_page } = this.collection;
            let total_number_page = Number.isInteger(total/per_page) ? total/per_page : Math.round(total/per_page);

            let pages = [];

            for (let index = 1; index < total_number_page+1; index++) 
                pages.push(index);              

            return pages;

        },
        params(){
            return{
                page: this.collection,
                placa: this.filter
            }
        }
    },
    methods: {
        onSearch(filter){            
            this.filter = filter;
            this.loadData();
        },
        loadData(page){            
            this.$emit('loadData', {...this.params, page} );   
        },
        onEdit(id){            
            this.$emit('onEdit', id);   
        },
        onDestroy(id){            
            this.$emit('onDestroy', id );   
        },
    },
}
</script>

<style scoped>
    .pagination li.active {
        background-color: #2196F3;
        color: white;
    }
    .pagination > li:first-child > a .material-icons, .pagination > li:last-child > a .material-icons {        
        bottom: -1px;
    }
    .div_action{
        display: flex;
    }
    a.btn{
        margin: -5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 38px;
    }
    .btn:not(.btn-link):not(.btn-circle) i {       
        top: 0px;
    }
    .action_disabled {
        pointer-events: none;
        color: #80808061
    }
    .action_disabled:active {        
        color: #80808061
    }

    ul.pagination {
        display: flex;
        justify-content: flex-end;
    }    
</style>