<template>    
    <div>
        <label><b style="color: black"> {{ label }}</b></label>
        <div class="form-group">
            <div class="form-line " :class="errors[name] ? 'focused error' : '' ">
                <slot></slot>
            </div>
            <label v-if="errors[name]" id="creditcard-error" class="error" for="creditcard"> 
                <span v-for="(item, index) in errors[this.name]" :key="index"> • {{ item }}</span> 
            </label>
        </div>
    </div>
</template>

<script>
export default {
    props:{        
        label:{ require: true },        
        name: { require: true },
        errors: { require: true } 
    },
    created() {
       //console.log(this.errors[this.name], 'ok', this.name)  
    },
}
</script>

<style scoped>
    .form-line input{
        margin: 0px !important;
        height: 2rem;
    }
</style>