<template>
    <div>
        <div class='info-box-3 hover-zoom-effect' :class="color">
            <div class="icon">
                <i class="material-icons">{{ icon }}</i>
            </div>
            <div class="content">
                <div class="text">{{ text }}</div>
                <div class="number count-to">{{ value }}</div>
            </div>
        </div> 
    </div>
</template>

<script>
export default {
    props:{
        icon:{ require: true }, 
        value:{ require: true }, 
        text:{require: true},
        color:{require: true},
    },
    created() {
        
    },
}
</script>

<style>

</style>