<template>
        <form @submit.prevent="search">
            <div class="row ">                            
                <label >Pesquisar</label>                                                                                  
                <input v-model="filter" type="text" class="form-control" :placeholder="placeholder">  
                <button type="submit" class="btn btn-primary waves-effect">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </form>
</template>

<script>
export default {   
    props:['placeholder'], 
    data() {
        return {
            filter: ''
        }
    },
    methods: {
        search(){            
            this.$emit('searchData', this.filter);            
        }
    },
}
</script>

<style scoped>
    .row{
        display: flex;
        align-items: center;
    }
    .row input{
        max-width: 200px;
        margin: 0px 10px;
    }
    .row label{
        font-weight: bold;
        color: black;
        font-size: 1rem;
        letter-spacing: 1px;

    }
    .row button i{
        top: 0px !important;
    }
</style>