<template>                      
    <div :id="id" class="modal align-left modal-fixed-footer">
        <div class="modal-content">
        <h4>{{title}}</h4>            
            <slot name="content"></slot>          
        </div>
        <div class="modal-footer" style="width:99.9%">
            <slot name="footer"></slot>         
        </div>                                
    </div>        
</template>

<script>
import * as M from 'materialize-css'

export default {
    props:{        
        id:{ require: true },        
        title:{ require: true },        
    },
    mounted() {
        this.initConfig();
    },
    methods: {
        initConfig(){
            
            const options = {
                inDuration: 250,
                outDuration: 250,
                opacity: 0.5,
                dismissible: false,
                startingTop: "4%",
                endingTop: "10%"
            };

            return M.Modal.init( document.querySelector('#' + this.id), options)
          
        },
        open(){                                                            
            let instance = M.Modal.getInstance( document.querySelector('#' + this.id) );
            instance.open();                        
        }
    }
}
</script>

<style>


</style>