<template>  
        <cool-select            
        v-model="valueItem"
        :items="items"        
        :inputStyles="style"  
        :inputElCustomAttributes="idEl"
        item-text="text"
        item-value="value"
        />        
</template>

<script>
import { CoolSelect } from "vue-cool-select";


export default {  
    components: {
        CoolSelect
    },        
    props:{        
        collection:{ require: true },        
        display: { require: true },                
        name: { default: 'selectCool' },                
    },
    data() {
        return{
        selected: this.value,
        style: { padding: '0px 10px'  },
        } 
    },
    computed:{
        items(){
    
            if(this.collection['data']){
                
                let { data, total } = this.collection
                let collection = []

                for (let index = 0; index < data.length; index++)                             
                    collection.push( { text: data[index][this.display], value: data[index]['id'] } )                
                

                return collection;
            }

            return [];

        },
        idEl(){
            return { id: this.name, name: this.name, value: this.value }
        },
        valueItem:{
            get: function(){                    
            },
            set: function(value){                  
                let item = []
                try {
                    item = this.collection.data.filter( e => { return e['id'] == value })  

                } catch (error) {
                    item[0] = 0
                }                    
                
                this.$emit('value', item[0] )                
            }
        },

    },                 
}
</script>

<style scoped>
    .IZ-select__input Input{
        border-bottom: 0px !important;
    }
</style>