<template>
        <div class="four-zero-four-container">
            <div class="error-code">404</div>
            <div class="error-message">This page doesn't exist</div>
            <div class="button-place">
                <a  class="btn btn-default btn-lg waves-effect">GO TO HOMEPAGE</a>
            </div>
        </div>
</template>

<script>
export default {
    
}
</script>

<style>

</style>