<template>
    <div class="page-loader-wrapper" v-show="preloader">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        preloader(){
            return this.$store.state.preloader.loading;
        }
    },
}
</script>

<style scoped>
.page-loader-wrapper{
    background: #08080824
}
</style>