<template>    
    <form @submit.prevent="submitForm">
        <vModal id="servicoVeiculo" title="Entrada do veiculo">
            
                <template v-slot:content>                
                    <vPainelVeiculo :errors="errors"></vPainelVeiculo>                
                    <vPainelVeiculoEntradaSaida></vPainelVeiculoEntradaSaida>  
                    <vPainelVeiculoServico></vPainelVeiculoServico>                                  
                </template>

                <template v-slot:footer>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Gravar</button>
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
                </template> 
                                
        </vModal> 
    </form>    
</template>

<script>
    import axios from 'axios';

import ModalComponent from '../../../partials/ModalComponent'
import PainelVeiculoComponent from './PainelVeiculoComponent';
import PainelVeiculoServicoComponent from './PainelVeiculoServicoComponent';
import PainelVeiculoEntradaSaidaComponent from './PainelVeiculoEntradaSaidaComponent';

export default {
    components:{
        vModal: ModalComponent,  
        vPainelVeiculo: PainelVeiculoComponent,                
        vPainelVeiculoServico: PainelVeiculoServicoComponent,   
        vPainelVeiculoEntradaSaida: PainelVeiculoEntradaSaidaComponent             
    }, 
    data(){
        return{
            errors:{}
        }
    },
    methods: {
        submitForm(e){            

            let formData = new FormData(e.target); 

                let json = {}

                for (let pair of formData.entries()) {                

                    let temp = [...pair[0].split('.', 2), pair[1] ]                                                                               

                    if( pair[0] && pair[1] && pair[1] != 'selectCool'){

                        if( temp.length == 3  ){

                            if( !json[temp[0]] )  json[temp[0]] = {}                                                                                 
                                                        
                            Object.assign( json[temp[0]] , JSON.parse(`{"${temp[1]}":"${temp[2]}"}`) )                             
                            
                        }else if( temp[0].indexOf('[]') > 0 && temp[1] ){

                            if( !json[temp[0]] )  json[temp[0]] = []                                                

                            json[temp[0]].push(  JSON.parse( temp[1] ) )                                                

                        }else{
                                            
                            json[temp[0]] = temp[1];
                                            
                        }

                    }
                
                }     
                
            this.$store.dispatch('storeLavaJatoAll', json)
                .then( data => {                   
                    
                    console.log(data)
                    //this.$toasted.success(`Sucesso ao ok`, { icon : 'check_circle' })
                    
                })                
                .catch(err => {                    
                    this.errors = err
                    console.log(data)
                } );

        },
        ajusteArray(  ){

        } 
    }, 

}
</script>

<style scoped>
    
</style>