<template> 
    <div>
        <div class="btn bg-red btn-circle waves-effect waves-circle waves-float hoverable" @click="open()">
            <i class="material-icons" style="margin: 2px -4px;">directions_car</i>
        </div>  
        <vAddVeiculoModal ></vAddVeiculoModal>
    </div>    
</template>

<script>
import * as M from 'materialize-css'

import AddVeiculoModalComponent from './AddVeiculoModalComponent';

export default {
    components:{
        vAddVeiculoModal: AddVeiculoModalComponent
    },
    methods: {
        open(){
            var instance = M.Modal.init( document.querySelector('#servicoVeiculo'), { dismissible: false } );            
            instance.open(); 
        }
    },
}
</script>

<style scoped>
    
</style>