<template>
        <div class="card hoverable" >
            <div @click="mover()">
                <div class="header" :class="record.cor" >
                        <h2>{{ record.placa }}</h2> - {{ record.marca }}
                        <a href="javascript:void(0);">
                            <i class="material-icons">arrow_forward</i>
                        </a>
                    </div>
                    <div class="body">           
                        <ul class="list-group">                                    
                            <li class="list-group-item">Serviço 1</li>
                            <li class="list-group-item">Serviço 2</li>
                        </ul>   
                        <div class="card-info">
                            <span class="label label-danger">11/12/2019</span>
                            <span class="label font-bold col-red">Jose</span>
                        </div>                            
                    </div> 
            </div>           
            <vMover :veiculo="record"></vMover>
        </div>
</template>

<script>
import * as M from 'materialize-css'

import MoverVeiculoComponent from './MoverVeiculoComponent';


export default {
    components:{
        vMover: MoverVeiculoComponent
    },
    props:['veiculo'],
    created() {
        this.record = this.veiculo;
    },
    data(){
        return {                     
            record:{                
                placa: undefined,
                cor: undefined,
                marca: undefined,
                modelo: undefined
            }
        }
    } ,
    methods: {
        mover(){   
            var instance = M.Modal.init( document.querySelector('#' + this.record.placa) );            
            instance.open();                         
        }
    },
}
</script>

<style scoped>

.card{
    margin-bottom: 15px;
}
.card .header h2{
    display: inline-block;
    letter-spacing: 2px;
}
.card .header a{
    float: right;    
    margin-top: -2px;    
}

.card .body{
    padding: 15px;
}

.list-group{
    margin: 0px;
}

.label{
    color: rgb(255, 255, 255);
    padding: 2px 5px;
}

.card-info{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}

</style>