<template>    
        <vModal v-if="veiculo" :id="veiculo.placa" :title="veiculo.placa">
                <template v-slot:content>
                        
                    <vDivIpunt name="funcionario" label="Nome do funcionario" :errors="errors" class="col s3">
                            <vSelect :collection="funcionario" display="nome"></vSelect>
                    </vDivIpunt>

                </template>

                <template v-slot:footer>
                    
                </template>                      
        </vModal>    
</template>

<script>
import ModalComponent from '../../../partials/ModalComponent'
import SelectComponent from '../../../partials/SelectComponent'
import DivInputComponent from '../../../partials/DivInputComponent';

export default {
    props:{
        veiculo:{                
                placa: undefined,
                cor: undefined,
                marca: undefined,
                modelo: undefined
            },            
    },  
    data() {
        return {           
           errors:{}     
        }
    },
    computed: {
        funcionario(){
            return this.$store.state.funcionario.items.data;
        }
    },
    components:{
        vModal: ModalComponent,
        vSelect: SelectComponent,       
        vDivIpunt: DivInputComponent 
    }  

}
</script>

<style scoped>
    
</style>