<template>
        <div class="divPanel col s12">
                <span>Serviço do Veiculo</span>
                <div style="display: flex; align-items: center;">
                        <vDivIpunt name="placa" label="Serviço" errors="errors" class="col s8">
                                <vSelect  :collection="servico" display="nome"
                                @value="getValueSelect"></vSelect>
                        </vDivIpunt>

                        <vDivIpunt name="valor" label="Valor" errors="errors" class="col s3">
                                <input v-model="servicoItem.valor" type="text" class="form-control">
                        </vDivIpunt>


                        <div class="col s1" >                             
                            <a @click="addItem" class="btn btn-danger waves-effect" style="height: 40px; width: 40px; margin: -10px;">
                                    <i style="margin-top: -5px;" class="material-icons">add</i>
                            </a>
                        </div>
                </div>


                <div  style="margin: 0px 10px 10px" class="table-responsive">                                                                           
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                        <tr> 
                            <th>Serviço</th>                   
                            <th>valor</th>                   
                            <th width="100px">ACTION</th>                
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-if="servicosItens" v-for="(data, index) in servicosItens" :key="index">   
                                <input type="hidden" name="servico[]" :value="JSON.stringify(data)">                                         
                                <td>{{data.servico}}</td>
                                <td>{{data.valor}}</td>                                                    
                                <td>
                                    <div class="div_action">  
                                        <a href="#" class="btn btn-danger waves-effect" @click.prevent="removeItem(data.servico_id)">
                                                <i class="material-icons">delete</i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>                              
                </div>

        </div>
</template>

<script>
import DivInputComponent from '../../../partials/DivInputComponent';
import SelectComponent from '../../../partials/SelectComponent'

export default {
    data() {
        return {
            servicosItens:[],            
            servicoItem:{
                servico: '',
                servico_id:'',
                valor:''
            }
        }
    },
    computed: {
        servico(){
                return this.$store.state.servico.items.data;
        },
    },
    methods: {
        addItem(){   
            if(this.servicoItem.servico_id)         
            this.servicosItens.push({ servico: this.servicoItem.servico, 
                                      valor: this.servicoItem.valor, 
                                      servico_id: this.servicoItem.servico_id })
            this.clearServico();
        },
        getValueSelect(value){                        
            if(value){            
                this.servicoItem.servico = value.nome;
                this.servicoItem.servico_id = value.id;                                   
                this.servicoItem.valor = value.valor;                                   
            }            
        },
        clearServico(){
            this.servicoItem.servico = '';
            this.servicoItem.servico_id = '';
            this.servicoItem.valor = '';  
            document.querySelectorAll('input[id="selectCool"]').forEach( node => node.value = '' )                 
        },
        removeItem(id){
            this.servicosItens.splice (this.servicosItens.indexOf(id), 1);
        }    
    },
    components:{
        vDivIpunt: DivInputComponent,
        vSelect: SelectComponent, 
    }
}
</script>

<style scoped>
    .divPanel{
    position: relative;
    border: 1px solid #e9e9e9;
    min-height: 30px;
    margin: 15px;
    padding: 10px 0px 0px;
}

.divPanel span{
    position: absolute;
    top: -12px;
    left: 10px;
    width: auto;
    background-color: #ffffff82;
    font-weight: bolder;
    color: #adadadd6;
}
.div_action{
    display: flex;
}
a.btn{
    margin: -5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 38px;
}
</style>