<template>
    <div class="divPanel col s12">
            <span>Entrada do Veiculo</span>

            <div style="display: flex; align-items: center;" >
            
                    <vDivIpunt name="funcionario_id" label="Funcionario" errors="errors" class="col s3">
                            <vSelect name="entradasaida.funcionario_id" :collection="funcionario"  display="nome" ></vSelect>
                    </vDivIpunt>

                    <vDivIpunt name="km" label="kilometragem" :errors="errors" class="col s3">
                        <input name="entradasaida.km" type="text" class="form-control">
                    </vDivIpunt>

                    <vDivIpunt name="combustivel" label="Combustivel" :errors="errors" class="col s3">
                        <input name="entradasaida.combustivel" type="text" class="form-control" >
                    </vDivIpunt>    
                    
                    <vDivIpunt name="dt_entradasaida" label="Data registro" :errors="errors" class="col s3">
                        <input name="entradasaida.dt_entradasaida" type="text" class="form-control">
                    </vDivIpunt>

            </div>               
            
    </div>
</template>

<script>
import DivInputComponent from '../../../partials/DivInputComponent';
import SelectComponent from '../../../partials/SelectComponent'

export default {
    data() {
        return {
            entradasaida: true,
            veiculoEntradaSaida:{                
                funcionario_id: undefined,
                km: undefined,
                combustivel: undefined,
                tipo: undefined,
                dt_entradasaida: undefined,
            },
            errors:{} 
        }
    },
    computed: {
        funcionario(){
                return this.$store.state.funcionario.items.data;
        }    
    },
    components:{
        vDivIpunt: DivInputComponent,
        vSelect: SelectComponent, 
    }
}
</script>

<style scoped>
.divPanel{
    position: relative;
    border: 1px solid #e9e9e9;
    min-height: 30px;
    margin: 15px;
    padding: 10px 0px 0px;
}

.divPanel span{
    position: absolute;
    top: -12px;
    left: 10px;
    width: auto;       
    background-color: #ffffff82;
    font-weight: bolder;
    color: #adadadd6;
}
.div_action{
    display: flex;
}
a.btn{
    margin: -5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 38px;
}
</style>