<template>
    <div class="divPanel col s12">
            <span>Veiculo</span>

            <transition name="fade" mode="out-in">
                <div style="display: flex; align-items: center;" v-if="show">
                        <vDivIpunt name="placa" label="Placa" errors="errors" class="col" >
                                <input type="hidden" name="veiculo_id" :value="veiculo_id">
                                <vSelect :collection="veiculos" display="placa" @value="getValueSelect"></vSelect>
                        </vDivIpunt>
                        <div class="col">  
                            <a @click="show = !show" class="btn btn-danger waves-effect" style="height: 40px; width: 40px; margin: -10px;">
                                    <i style="margin-top: -5px;" class="material-icons">add</i>
                            </a>
                        </div>
                </div>
            </transition>

            <transition name="fade" mode="out-in">
                <div style="display: flex; align-items: center;" v-if="!show">
                
                        <span @click="show = !show" style="right: 0px; left: inherit; cursor: pointer;"> <i class="material-icons" style="color: red">cancel</i> </span>

                        <vDivIpunt name="placa" label="Placa do veiculo" :errors="errors" class="col s3">
                            <input  name="veiculo.placa" type="text" class="form-control" placeholder="Informe a placa">
                        </vDivIpunt>

                        <vDivIpunt name="modelo" label="Modelo" :errors="errors" class="col s3">
                            <input  name="veiculo.modelo" type="text" class="form-control" placeholder="Informe o modelo">
                        </vDivIpunt>

                        <vDivIpunt name="cor" label="Cor" :errors="errors" class="col s3">
                            <input name="veiculo.cor" type="text" class="form-control" placeholder="Informe o modelo">
                        </vDivIpunt>
                    
                        <vDivIpunt name="marca" label="Marca" :errors="errors" class="col s3">
                            <input  name="veiculo.marca" type="text" class="form-control" placeholder="Informe o modelo">
                        </vDivIpunt>

                </div>               
            </transition>


    </div>
</template>

<script>
import DivInputComponent from '../../../partials/DivInputComponent';
import SelectComponent from '../../../partials/SelectComponent'

export default {
    props:{
        errors:{} 
    },
    data() {
        return {
          show: true, 
          veiculo_id: undefined          
        }
    },
    computed: {
        veiculos(){
                return this.$store.state.veiculos.items.data;
        }    
    },
    methods: {
        getValueSelect(value){                        
            if(value)            
                this.veiculo_id = value.id
            
        },
    },
    components:{
        vDivIpunt: DivInputComponent,
        vSelect: SelectComponent, 
    }
}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.divPanel{
    position: relative;
    border: 1px solid #e9e9e9;
    min-height: 30px;
    margin: 15px;
    padding: 10px 0px 0px;
}

.divPanel span{
    position: absolute;
    top: -12px;
    left: 10px;
    width: auto;
    background-color: #ffffff82;
    font-weight: bolder;
    color: #adadadd6;
}
.div_action{
    display: flex;
}
a.btn{
    margin: -5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 38px;
}
</style>